.App {
  text-align: center;
  background-color: #434a57;
  color: #61dafb;
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
}
.welcome-msg{
  color: white;
  font-weight: bolder;
  font-size: 2em;
  padding: 0 2em ;
}
.hidden{
  display: none;
}